---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<youtube_api_key>&maxResults=1&part=snippet&q=oiausdhfiouashdfv%20cuisine%20history&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Wed, 08 Mar 2023 03:47:30 GMT
recorded_with: VCR 6.1.0
